<footer class="footer">

    <div class="icons">
        <a href="https://www.linkedin.com/in/alejorodr%C3%ADguez/" target="_blank"><i
                class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/alejorod1992" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://walink.co/c90766" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="mailto:alejorod1992@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
    <div>
        <p class="footer-text"> <img src="assets/nocopy.png" alt="no copyright"> Ningún derecho Reservado.</p>
    </div>

</footer>
