<div class="navbar">
  <div class="navbar__logo">
    <img
      src="/assets/APLogo.png"
      alt="Logo Argentina Programa"
      class="navbar__logo_img"
    />
    <h2><a href="index.html">RODRIGUEZ ALEJO</a></h2>
  </div>

  <div class="navbar__sections">
    <a href="cv.html"
      ><img src="assets/github.png" alt="Github" class="navbar__logo_social"
    /></a>
    <a href="portfolio.html"
      ><img
        src="assets/linkedin.png"
        alt="LinkedIn"
        class="navbar__logo_social"
    /></a>
    <a href="contacto.html"
      ><img
        src="assets/instagram.png"
        alt="Instagram"
        class="navbar__logo_social"
    /></a>
  </div>
    <div class="navbar__button">
      <a href="#" class="myButton">Login</a>
    </div>
</div>
<header>
  <div class="header_img"></div>
</header>
