<div class="navbar">
  <div class="navbar__logo">
    <img
      src="/assets/APLogo.png"
      alt="Logo Argentina Programa"
      class="navbar__logo_img"
    />
    <h2><a href="index.html">RODRIGUEZ ALEJO</a></h2>
  </div>

  <div class="navbar__sections">
    <a href="https://github.com/alejorod1992"
      ><img src="assets/github.png" alt="Github" class="navbar__logo_social"
    /></a>
    <a href="https://www.linkedin.com/in/rodriguezalej/"
      ><img
        src="assets/linkedin.png"
        alt="LinkedIn"
        class="navbar__logo_social"
    /></a>
    <a href="https://www.instagram.com/alercrea"
      ><img
        src="assets/instagram.png"
        alt="Instagram"
        class="navbar__logo_social"
    /></a>
  </div>
    <div class="navbar__button">
      <button type="button" class="btn btn-primary btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
      <button type="button" class="btn btn-primary btn-outline-light" (click)="onLogOut()"  *ngIf="isLogged">Log out</button>
    </div>
</div>
<header>
  <div class="header_img"></div>
</header>
