<!-- SOBRE MI, CV, PORYECTOS, CONTACTO (DIRECTO A WPP, en forma de boton) -->

<main>
  <div class="about_me">
    <div class="about_me__image">
      <img src="/assets/Foto_Alejo_Rodríguez.jpg" alt="me" />
    </div>

    <div class="about_me__title">
      <h1 class="under-line">Front-End Developer</h1>
      <br />
      <h2 class="under-line">Sobre mi</h2>
    </div>
    <div class="about_me__text">
      <p>
        Mi nombre es Alejo Rodríguez. Soy Técnico Superior en Programación y
        Licenciado en Relaciones Públicas.
      </p>
      <p>
        Soy un apasionado por la comunicación y la tecnología, y en el
        desarrollo web encontré el punto justo para desarrollar mi carrera
        profesional. Hoy tengo la suerte de trabajar en comunicación
        Institucional y poder realizar algunos trabajos. Además, cuento con
        algunos clientes de forma freelance a los cuales asisto en todo lo
        relacionado con el social media management.
      </p>
    </div>
    <!--ACA VA SOBRE MI -->
  </div>
</main>
