<h1 class="under-line">Proyectos</h1>
<div class="projects">
    <!---project1-->
    <div class="project"> <a href="https://rasocial.netlify.app/" target="_blank">
            <div class="project__screen screen1" id="screen1">

            </div>

            <div class="project__info">

            </div>
            <div class="project__desc">
                Sitio Freelance
            </div>
            <div class="project__icons">
                <img src="assets/HTML.png" alt="HTML5">
                <img src="assets/CSS.png" alt="CSS 3">

            </div>
        </a>
    </div>
    <!---project2-->
    <div class="project"><a href="https://reptilestore.netlify.app/" target="_blank">
            <div class="project__screen screen2">



            </div>

            <div class="project__info"> </div>
            <div class="project__desc">Reptile Store</div>
            <div class="project__icons">
                <img src="assets/HTML.png" alt="HTML5">
                <img src="assets/CSS.png" alt="CSS 3">
            </div>
        </a>
    </div>
    <!---project3-->
    <div class="project"> <a href="https://snakes-blog.netlify.app/" target="_blank">
            <div class="project__screen screen3">

            </div>

            <div class="project__info"> </div>
            <div class="project__desc">Snakes' Blog</div>
            <div class="project__icons">
                <img src="assets/HTML.png" alt="HTML5">
                <img src="assets/CSS.png" alt="CSS 3">
            </div>
        </a>
    </div>
    <!---project4-->
    <div class="project"> <a href="https://agua-planta-fuego.netlify.app/" target="_blank">
        <div class="project__screen screen4">

        </div>

        <div class="project__info"> </div>
        <div class="project__desc">Piedra, papel o tijera (lógica pokemón)</div>
        <div class="project__icons">
            <img src="assets/HTML.png" alt="HTML5">
            <img src="assets/CSS.png" alt="CSS 3">
            <img src="assets/JS.png" alt="Javascript">
        </div>
    </a>
</div>
<!---project5-->
    <div class="project"> <a href="https://snakes-blog.netlify.app/" target="_blank">
            <div class="project__screen screen5">


            </div>


            <div class="project__info"> </div>
            <div class="project__desc">Match Guitars</div>
            <div class="project__icons">
                <img src="assets/HTML.png" alt="HTML5">
                <img src="assets/CSS.png" alt="CSS 3">
                <img src="assets/JS.png" alt="Javascript">
            </div>
        </a>
    </div>
    <!---project4-->
  
